<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="2" parallel="classes">
<!--	<groups>
		<run>
			<include name="smoke"></include>
			<include name="sanity"></include>
			<include name="Regression"></include>
		</run>	
	</groups>-->
	<listeners>
		<listener class-name ="utility.ListenerImpl"></listener>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="selenium.practice.automation.testing.HandlingTabularData"/>
      <class name="selenium.practice.automation.testing.GroupsInTestNG"/>
      <!--<class name="selenium/practice/automation/testing/DataDrivenTesting.java"/>-->
    </classes>
  </test> <!-- 
  Test -->
</suite> <!-- 
Suite -->